@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Nunito', system-ui;
	font-optical-sizing: auto;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
	overflow: hidden;
}
canvas {
	background: transparent !important;
	position: absolute;
	bottom: 0;
	z-index: 1;
	border: none;
	opacity: 0 !important;
}
